@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");

:root {
  --bg: #0b0b0b;
  --text: #dcddde;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.5s ease-in-out;

  position: relative;
}

img {
  display: block;
}
